@model IEnumerable<MVCDemo.ViewModel.EmployeeVM>
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <center><h2>Employee Information</h2></center>
        <table border="1" align="center">
            <tr>
                <th> Employee No </th>
                <th> Employee Name </th>
                <th> Designation </th>
                <th> Salary </th>
                <th>Department No </th>
            </tr>

            @foreach (var item in Model)
            {
<tr>
    <td> @item.eno </td>
    <td> @item.ename </td>
    <td> @item.designation </td>
    <td> @item.salary </td>
    <td> @item.deptno</td>

</tr>
}

        </table>
    </div>
</body>
</html>
