@model IEnumerable<AuthenticationDemo.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.designation)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.deptno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.designation)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.deptno)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.eno }) |
            @Html.ActionLink("Details", "Details", new { id=item.eno }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.eno })
        </td>
    </tr>
}

</table>
